$enable-flex: true;

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$brand-primary: #344952;

@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/font-awesome/scss/font-awesome';

img {
  max-width: 99.99999%;
}

.welcome {
  padding: 5rem 0;

  background-size: 100% 100%;
  background: url(/assets/images/banner.jpg) center center;
  background-size: cover;

  h2 {
    font-weight: normal;
  }
}

img.logo {
  width: 200px;
}

footer {
  .logo {
    width: 150px;
  }
}

.fl {
  display: flex;
  > .fl-a {
    flex: 1;
  }
}

.card-block {
  padding: 2rem;
}

.contact-card {
  border-color: #f7f7f7;
  background-color: #f7f7f7;
}

.join-card {
  border-color: #dad7ff;
  background-color: #dad7ff;

  a.btn-primary {
    background-color: #585870;
  }
}

a.img-link {
  text-decoration: none;
}

.wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  min-height: 100vh;
}

.contact-card {
  flex: 0 0 100%;
  @include media-breakpoint-down(sm) {
    max-width: 360px;
    flex: 0 0 360px;
  }
  .profile {
    width: 160px;
    border-radius: 160px;
  }
  .company {
    height: 1.5rem;
    display: inline-block;
    margin-right: .5rem;
  }
  i.fa {
    margin-right: .6rem;
  }
}

.team-body {
  background: #fbfbfb;
}

.team-card {
  img {
    width: 180px;
    height: 180px;
    flex: 0 0 180px;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    @include media-breakpoint-down(sm) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  h3 {
    font-size: 1.25rem;
    color: #007ee7;
    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    small {
      font-size: .875rem;
      color: #000;
    }
  }

  p {
    font-size: .75rem;
  }

  .card-block {
    display: flex;
    padding: 1.5rem;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }
}